<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_2048_by_Hemok98.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <_2048_by_Hemok98.Properties.Settings>
            <setting name="achivementsParse" serializeAs="String">
                <value>Добро пожаловать в 1/8; Соберите 256 в одной ячейки;
Добро пожаловать в 1/4; Соберите 512 в одной ячейки;
Вы прошли в полуфинал; Соберите 1024 в одной ячейки;
Поздравляем с выходом в финал; Соберите 2048 в одной ячейки;
Не, ну это СУПЕРФИНАЛ; Соберите 4096 в одной ячейки;
Отличное начало;Наберите 1000 очков;
Продолжай в том же духе;Наберите 5000 очков;
Неплохо играешь;Наберите 10000 очков;
Проффесионал;Наберите 50000 очков;
В глазах двоится;Используйте удвоение первый раз;
Вас  здесь не стояло;Используйте удвоение первый раз;
5 секунд не плошло;Используйте удвоение первый раз;
Предохраняться - это хорошо;Впервые сохранитесь;
Прямиком из креогенной камеры;Впервые загрузитесь;</value>
            </setting>
            <setting name="achievsContainer" serializeAs="String">
                <value />
            </setting>
            <setting name="saveStr1" serializeAs="String">
                <value />
            </setting>
            <setting name="saveStr2" serializeAs="String">
                <value />
            </setting>
            <setting name="saveStr3" serializeAs="String">
                <value />
            </setting>
            <setting name="saveStr4" serializeAs="String">
                <value />
            </setting>
            <setting name="saveStr5" serializeAs="String">
                <value />
            </setting>
            <setting name="saveStr6" serializeAs="String">
                <value />
            </setting>
            <setting name="saveStr7" serializeAs="String">
                <value />
            </setting>
            <setting name="saveStr8" serializeAs="String">
                <value />
            </setting>
            <setting name="saveStr9" serializeAs="String">
                <value />
            </setting>
            <setting name="saveRecord" serializeAs="String">
                <value>0</value>
            </setting>
        </_2048_by_Hemok98.Properties.Settings>
    </userSettings>
</configuration>