<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_2048_by_Hemok98.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <_2048_by_Hemok98.Properties.Settings>
            <setting name="saveRecord" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="saveString1" serializeAs="String">
                <value />
            </setting>
            <setting name="saveString2" serializeAs="String">
                <value />
            </setting>
            <setting name="saveString3" serializeAs="String">
                <value />
            </setting>
            <setting name="saveString4" serializeAs="String">
                <value />
            </setting>
            <setting name="saveString5" serializeAs="String">
                <value />
            </setting>
            <setting name="saveString6" serializeAs="String">
                <value />
            </setting>
            <setting name="saveString7" serializeAs="String">
                <value />
            </setting>
            <setting name="saveString8" serializeAs="String">
                <value />
            </setting>
            <setting name="saveString9" serializeAs="String">
                <value />
            </setting>
        </_2048_by_Hemok98.Properties.Settings>
    </userSettings>
</configuration>